In [1]:
import pandas as pd
data = pd.read_csv('datasets/NewYork/IncomeEduReg.csv')
print(data.shape)

(206, 10)

In [2]:
data1 = data.dropna(how = 'any')
print(data1.shape)

(181, 10)

In [3]:
data1['EduAboveHS(%)'] = 1-data1['LessThanHS']/data1['PopOver25']
data1.head()

/Volumes/COSMOS/ProgramFiles/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Zipcode,IncomePerCapita,PopOver25,LessThanHS,HighSchool,SomeCollege,Bachelor,Master,Doctorate,ProfSchool,EduAboveHS(%)
0,10001,77512.0,16328,1389,1665,2075,6061,3412,519,1207,0.914931
1,10002,26905.0,60932,21170,12718,8532,12721,4001,641,1149,0.652564
2,10003,79088.0,41182,1499,2810,4516,17958,9094,1626,3679,0.963601
3,10004,98020.0,2279,29,87,305,984,550,86,238,0.987275
4,10005,99633.0,5954,133,103,454,2745,1637,219,663,0.977662

In [4]:
data2 = data1[['Zipcode','IncomePerCapita','EduAboveHS(%)']]
data2.head()

   Zipcode  IncomePerCapita  EduAboveHS(%)
0    10001          77512.0       0.914931
1    10002          26905.0       0.652564
2    10003          79088.0       0.963601
3    10004          98020.0       0.987275
4    10005          99633.0       0.977662

In [5]:
data2.to_csv('datasets/NewYork/nyc_census.csv')

In [6]:
data_list = pd.read_csv('datasets/NewYork/filtered_listings_NYC.csv')
data_list = data_list.iloc[:,1:]
data_list.head()

/Volumes/COSMOS/ProgramFiles/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,16,17,20,33,34,57,60,62,63,69,72,73,74,75,95,96) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595.0,https://www.airbnb.com/rooms/2595,2.020021e+13,2020-02-12,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...","- Spacious (500+ft²), immaculate and nicely fu...","Beautiful, spacious skylit studio in the heart...",none,Centrally located in the heart of Manhattan ju...,...,f,f,strict_14_with_grace_period,t,t,2.0,2.0,0.0,0.0,0.39
1,3831.0,https://www.airbnb.com/rooms/3831,2.020021e+13,2020-02-13,Cozy Entire Floor of Brownstone,Urban retreat: enjoy 500 s.f. floor in 1899 br...,Greetings! We own a double-duplex brownst...,Urban retreat: enjoy 500 s.f. floor in 1899 br...,none,Just the right mix of urban center and local n...,...,f,f,moderate,f,f,1.0,1.0,0.0,0.0,4.69
2,5099.0,https://www.airbnb.com/rooms/5099,2.020021e+13,2020-02-12,Large Cozy 1 BR Apartment In Midtown East,My large 1 bedroom apartment has a true New Yo...,I have a large 1 bedroom apartment centrally l...,My large 1 bedroom apartment has a true New Yo...,none,My neighborhood in Midtown East is called Murr...,...,f,f,moderate,t,t,1.0,1.0,0.0,0.0,0.59
3,5121.0,https://www.airbnb.com/rooms/5121,2.020021e+13,2020-02-12,BlissArtsSpace!,NaN,HELLO EVERYONE AND THANKS FOR VISITING BLISS A...,HELLO EVERYONE AND THANKS FOR VISITING BLISS A...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,1.0,0.0,1.0,0.0,0.38
4,5178.0,https://www.airbnb.com/rooms/5178,2.020021e+13,2020-02-13,Large Furnished Room Near B'way,Please don’t expect the luxury here just a bas...,"You will use one large, furnished, private roo...",Please don’t expect the luxury here just a bas...,none,"Theater district, many restaurants around here.",...,f,f,strict_14_with_grace_period,f,f,1.0,0.0,1.0,0.0,3.53

In [7]:
data_list.rename({'zipcode':'Zipcode'},axis = 1, inplace = True)
data_list['Zipcode'] = pd.to_numeric(data_list['Zipcode'], errors='coerce')
data_list = data_list.dropna(subset = ['Zipcode'])
data_list['Zipcode'].astype(int)

0        10018
1        11238
2        10016
3        11216
4        10019
         ...
51023    11355
51024    11207
51025    11206
51026    11236
51027    10036
Name: Zipcode, Length: 50275, dtype: int64

In [8]:
data_merged = data2.merge(data_list, on = 'Zipcode', how = 'outer')
data_merged.head()

,Zipcode,IncomePerCapita,EduAboveHS(%),id,listing_url,scrape_id,last_scraped,name,summary,space,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,10001,77512.0,0.914931,15396.0,https://www.airbnb.com/rooms/15396,2.020021e+13,2020-02-12,Sunny & Spacious Chelsea Apartment,"Modern, spacious, bright and well designed apa...",NaN,...,f,f,strict_14_with_grace_period,f,f,1.0,1.0,0.0,0.0,0.11
1,10001,77512.0,0.914931,37042.0,https://www.airbnb.com/rooms/37042,2.020021e+13,2020-02-12,2BR Flex in Hudson Yards near Penn Station,"Close to everything NYC has to offer, the APT ...",Fully furnished bedrooms in a 24/7 doorman ele...,...,f,f,moderate,f,f,1.0,1.0,0.0,0.0,0.21
2,10001,77512.0,0.914931,51572.0,https://www.airbnb.com/rooms/51572,2.020021e+13,2020-02-13,Prime Location in Manhattan,Private Room located on w 30th st right near P...,My space offers a private bedroom in my 2 bedr...,...,f,f,strict_14_with_grace_period,t,t,1.0,0.0,1.0,0.0,3.47
3,10001,77512.0,0.914931,98663.0,https://www.airbnb.com/rooms/98663,2.020021e+13,2020-02-12,Groovy NYC Chelsea Pad,Hello! This listing is only available to book ...,Hello! Thanks for checking out my place. I am ...,...,t,f,moderate,f,f,1.0,1.0,0.0,0.0,0.18
4,10001,77512.0,0.914931,110739.0,https://www.airbnb.com/rooms/110739,2.020021e+13,2020-02-13,Central Nomad/Chelsea Loft Studio - metro dnst...,Long terms discounts available. Spacious and ...,"This is a very central, large loft-like studio...",...,f,f,strict_14_with_grace_period,f,f,1.0,1.0,0.0,0.0,0.57

In [9]:
data_merged.shape

(50280, 108)

In [10]:
data_merged.to_csv('datasets/NewYork/nyc_merged.csv')